.users-wrapper {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  height: calc(100% - 50px);
  height: -o-calc(100% - 50px); /* opera */
  height: -webkit-calc(100% - 50px); /* google, safari */
  height: -moz-calc(100% - 50px); /* firefox */
}

.users {
  //margin: 0;
  //padding: 0;
  //list-style: none;
  
  // Users grid positioning
  //position: absolute;
  //left: 50%;
  //top: 50%;
  //transform: translate(-50%, -50%);
  text-align: center;
  
  .user {
    margin: 10px;
    display: inline-block;
    text-align: center;
    max-width: 270px;
    
    img {
      width: 100%;
      border-radius: 3px;
      height: auto;
    }
    
    .name {
      font-size: 16px;
      font-weight: 400;
    }
    
    .user-status {
      width: 10px;
      height: 10px;
      background-color: #7ED321;
      border-radius: 5px;
      box-shadow: 0px 0px 0px 6px #fff;
      margin: 0px auto;
      position: relative;
      z-index: 1;
      margin-bottom: 4px;
      margin-top: -4px;
    }
  }
}